html, body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.footer {
  text-align: center;
  border-top: none;
  background-color: #FADBD9;
  color: #909090;
  font-size: 0.5em;
  padding-top: 15px;
  padding-bottom: 15px;
}

#top {
  margin-top: 0;
  height: 50px;
}

.bar-title {
  margin-left: 3%;
  color: #111;
  font-size: 1.5em;
  line-height: 50px;
}

#top-bar {
  margin-left: 10%;
  height: 100%;
}

#top-img {
  margin-top: 5px;
  float: left;
  height: 36px;
  border-radius: 100%;
  border: 2px solid #444;
}

.nav {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  z-index: 9999;
}


.hidden {
  display: none !important;
}

.section-post {
  background-color: #FADBD9;
}

.panel {
  display: inline-block;
  width: 30%;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  border-radius: 5px;
  margin: 10px 10px;
}

.small-panel {
  width: 99%;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.small-panel:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28);
}

.small-panel img {
  margin-top: 10px;
  width: 90%;
}

.panel hr {
  width: 90%;
  color: #5b5b5b;
}

.panel p {
  width: 90%;
  margin-left: 5%;
}

.container {
  width: 80%;
  margin-left: 10%;
}

.cols {
  padding: 0;
  float: left;
  width: 23.75%;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.show-img:before, .show-img:after {
  content: " ";
  display: block;
  visibility: hidden;
}

.show-img:after {
  clear: both;
}

.show-img {
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin-left: 0;
  }
  #to-top-btn {
    display: none;
  }
  .section-content {
    margin: 0;
  }
  .panel p {
    padding-bottom: 10px;
  }
  .panel {
    display: block;
    width: 80%;
    margin: 10px 0 10px 10%;
  }
  .nav {
    height: 40px;
  }
  .bar-title {
    line-height: 40px;
  }
  #top-bar {
    margin-left: 5%;
  }
  #top-img {
    float: left;
    height: 26px;
  }
  #top {
    height: 40px;
  }
  .cols {
    width: 100%;
    margin: 0;
  }
  #col1, #col2, #col3 {
    display: none;
  }
}

#preload-01 {
  background: url('images/loading.gif') no-repeat -9999px -9999px;
}

#preload-02 {
  background: url('images/error.jpg') no-repeat -9999px -9999px;
}
