html, body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.footer {
  text-align: center;
  border-top: none;
  background-color: #FADBD9;
  color: #909090;
  font-size: 0.5em;
  padding-top: 15px;
  padding-bottom: 15px;
}

#top {
  margin-top: 0;
  height: 50px;
}

.bar-title {
  margin-left: 3%;
  color: #111;
  font-size: 1.5em;
  line-height: 50px;
}

#top-bar {
  margin-left: 10%;
  height: 100%;
}

#top-img {
  margin-top: 5px;
  float: left;
  height: 36px;
  border-radius: 100%;
  border: 2px solid #444;
}

.nav {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  z-index: 9999;
}


.hidden {
  display: none !important;
}

.section-post {
  background-color: #FADBD9;
}

.panel {
  display: inline-block;
  width: 30%;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  border-radius: 5px;
  margin: 10px 10px;
}

.small-panel {
  width: 30%;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.small-panel:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28);
}

.small-panel img {
  margin-top: 10px;
  width: 90%;
}

.panel hr {
  width: 90%;
  color: #5b5b5b;
}

.panel p {
  width: 90%;
  margin-left: 5%;
}

@media screen and (max-width: 600px) {
  .section-content {
    margin: 0;
  }
  .panel p {
    padding-bottom: 10px;
  }
  .panel {
    display: block;
    width: 80%;
    margin: 10px 0 10px 10%;
  }
  .nav {
    height: 40px;
  }
  .bar-title {
    line-height: 40px;
  }
  #top-bar {
    margin-left: 5%;
  }
  #top-img {
    float: left;
    height: 26px;
  }
  #top {
    height: 40px;
  }
}
