#to-top-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 60px;
    background-color: #444444;
    color: white;
    opacity: 0.5;
    z-index: 10000;
    border-radius: 10%;
    transition: opacity 0.5s, display 0.5s;
    -moz-transition: opacity 0.5s, display 0.5s;
    -webkit-transition: opacity 0.5s, display 0.5s;
    -o-transition: opacity 0.5s, display 0.5s;
}

#to-top-btn:hover {
    opacity: 0.8;
}

.hidden {
    display: none;
}

.left-up {
    left: 5%;
    top: 10%;
}

.left-down {
    left: 5%;
    bottom: 10%;
}

.right-up {
    right: 5%;
    top: 10%;
}

.right-down {
    right: 5%;
    bottom: 10%;
}